@font-face {
    src: url(./Fonts/RobotoMono-Light.ttf);
    font-family: light;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: light;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090e13;
    height: 100vh;
    color: white;
}

.container{
    margin: auto;
    position: relative;
    /* border: 1px rgb(255, 0, 0, 0.1) solid; */
    width: 350px;
    height: 351px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}


.row{
    /* border: 1px red solid; */
    width: 100%;
    height: 117px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    /* border: 1px rgb(255, 0, 0, 0.1) solid; */
    width: 100px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}

.box:hover{
    background-color: rgba(90, 90, 90, 0.1);
}

.grid{
    position: absolute;
    width: 300px;
    background-color: crimson;
    height: 1px;
}

.grid-1{
    margin: auto;
    top: 115px;
    left: 0;
    right: 0;
}

.grid-2{
    margin: auto;
    top: 235px;
    left: 0;
    right: 0;
}

.grid-3{
    margin: auto;
    bottom: 0;
    top: 0;
    left: -33px;
    transform: rotate(90deg);
}

.grid-4{
    margin: auto;
    bottom: 0;
    top: 0;
    left: 82px;
    transform: rotate(90deg);
}

.green-box{
    transition: 100ms;
    color: #1D8348;
}

.golden-box{
    transition: 100ms;
    color: #D4AC0D;
}